@charset "utf-8";
input:active { background-color: aqua;}
img{width: 100%;}
a{transition: all 0.4s;}
a:hover {text-decoration: underline;}
body {position: relative;}


body .pop {position:absolute; z-index: 999999; background-color:rgba(0, 0, 0, 0.5); width: 100%; height: 100%; opacity: 1;}
body .pop .popc{
    width: 80%;
    height: 65vw;
    background-color: red;
    top: 10%;
    left: 40%;
    margin-left: -25%;
    position: fixed;
    padding: 2%;
    background-image: url(../images/bg.jpg);
}
body .pop .head {
    text-indent: 5%;
    padding: 1% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body .pop .head h3 {
    line-height: 1;
    display: inline;
    width: 95%;
    text-align: center;
}
body .pop .popc .head .close {
    line-height: 1;
    padding: 1%;
    width: 3vw;
    margin-top: -1%;
    cursor: pointer;
    text-align: center;
}
body .pop fieldset {
    margin: 0 auto;
    width: 80%;
    height: 45vw;
    overflow-x: hidden;
    position: relative;
    padding-top: 10px;
}
body .pop fieldset legend {line-height: 2; color: yellow;}
body .pop fieldset >p{
    width: 100%;    
}
body .pop fieldset textarea {
    width: 100%;
    line-height: 1.5;
    border: 2px solid yellow;
    color: blue;
    font-size: 2vw;
    outline-style: none;
}
body .pop fieldset .send input {
    position: absolute;
    padding: 1%;
    border-radius: 3px;
    border: 1px solid #666;
    cursor: pointer;
    top: 0;
    right: 2%;
}
body .pop p{
    padding: 5%;
    box-sizing: border-box;
    width: 80%;
}
body .pop div img {
    width: 12%;
    position: relative;
    top: 2vw;
    margin-left: 2vw;
}
.pop {display: none;}














header { width: 100%; box-sizing: border-box; padding: 5%; position: absolute; left: 0; top: 0; z-index: 9999;}
header h1 a {display: block; width: 10%; border-radius: 100%; border-radius: 100%;position: fixed; transition: opacity 0.4s;}
header h1 a:hover { opacity: 0.5;}
header .wri {margin-top: 15%; margin-left: 1vw; color: red; font-weight: 700;}
#container {position: relative; }
#container nav {position: absolute;width: 20%; font-size: 1.8vw; line-height: 3; z-index: 99999; right: 0; top: 2%;}
#container nav .tit h2{width: 100%; margin-top: 5%; background-color: rgb(255, 89, 247); color: #fff; border-radius: 5px 0 0 5px;}
#container nav .tit h2:hover {background-color: rgb(249, 253, 8);color:rgb(24, 23, 23); cursor: pointer;}
#container nav .tit h2.on {background-color: rgb(249, 253, 8);color: rgb(146, 132, 122);}

#container .bg1 {position:relative;}
#container .bg1 li:nth-child(1){position:fixed; z-index: 999;top: 0; left: 0;height: 1000px;}
#container .bg1 li:nth-child(2){ width:100%;  top: 0; left: 0; height: 42%;}

#container .lis {display: block;}
#container .bg1{display: block;}

#container .bg2{display: none;}

#container .bg2 li {position: relative; width: 100%; }
#container .bg2 li .ex{position: absolute;top: 20%; left: 20%;font-size: 3vw; line-height: 4;width: 50%; transform: transitionX(-50%); left: 25%;height: 50%; color: blue; font-weight: 100;}
#container .bg2 li .ex em {color: red}

footer {
    z-index: 99;
     width: 100%;
     background-color: rgb(0, 138, 74);color: aquamarine; text-align: center; padding: 8% 0 5%; box-sizing: border-box; font-size: 1.5vw;}
footer nav ul { width: 50%; text-align: center;
margin: 0 auto; }
footer small {font-size: 1.2vw;}